@charset "UTF-8";
/*------------------------------------------------------------
	Default
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, button,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
}

html {
  font-size: 62.5%;
}

body, table,
input, textarea, select, option, button,
h1, h2, h3, h4, h5, h6 {
  font-family: "游ゴシック","YuGothic", "メイリオ", "Meiryo",'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', sans-serif;
  line-height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft {
  text-align: left !important;
}

.taCenter {
  text-align: center !important;
}

.taRight {
  text-align: right !important;
}

.vTop {
  vertical-align: top !important;
}

.vMiddle {
  vertical-align: middle !important;
}

/* font weight */
.fwNormal {
  font-weight: normal !important;
}

.fwBold {
  font-weight: bold !important;
}

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	for tracking tag
------------------------------------------------------------*/
.trackTags {
  display: none;
}

/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
  /* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
  line-height: 1.5;
  text-align: center;
  background-color: #f8f5f1;
  font-size: 14px;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

#container {
  margin: 0 auto;
  width: 100%;
  background-color: #f7f3f0;
  text-align: left;
}

.l-main {
  margin-bottom: 10px;
  font-size: 1.4rem;
}

.l-main:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	header
------------------------------------------------------------*/
#logo {
  position: fixed;
  z-index: 100;
  left: 100px;
  top: 35px;
  color: green;
}

/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/
#menu {
  position: fixed;
  z-index: 10;
  width: 100%;
}

nav {
  min-height: 90px;
  background-color: #fff;
}

nav .navbar-toggler {
  font-size: 4.25rem;
  margin-left: 54%;
  color: #d53a1e;
  position: fixed;
  right: 0;
  top: 10px;
}

.navbar-nav .nav-item {
  text-align: center;
  padding: 0 30px;
  border-left: 1px dashed #ddd;
}

.navbar-nav .nav-item .nav-link {
  color: #000;
}

.navbar-nav .nav-item .nav-link h1 {
  font-family: "游明朝",YuMinCho,"ヒラギノ明朝 ProN W3","Hoiragino Mincho ProN","HG明朝E","MSP明朝", sans-serif;
}

.navbar-nav .nav-item .nav-link span {
  color: #d53a1e;
  font-family: "游ゴシック","YuGoth-ic","メイリオ","Meiryo",'ヒラギノ角ゴ Pro','Hoiragino Kaku Gothic Pro', serif;
}

.navbar-nav .nav-item i {
  background: #604c28;
  border-radius: 20px;
  padding: 10px;
  margin: 0 5px;
  color: #fff;
  font-size: 10px;
}

/*------------------------------------------------------------
	Breadcrumbs
------------------------------------------------------------*/
/*-----slider------*/
#slider {
  padding-top: 5%;
}

#slider .carousel-indicators {
  z-index: 8;
}

#slider .carousel-indicators .active {
  background: #d53a1e;
}

#slider .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #d2d2d2;
}

/*------------------------------------------------------------
	contentc
------------------------------------------------------------*/
.thumbnail {
  margin: 2% 0;
  padding-top: 2%;
}

.thumbnail hr {
  width: 4%;
  background: #d53a1e;
  height: 2px;
  margin-bottom: 3%;
}

.thumbnail h2 {
  text-align: center;
  font-family: "游明朝",YuMinCho,"ヒラギノ明朝 ProN W3","Hoiragino Mincho ProN","HG明朝E","MSP明朝", sans-serif;
  padding-left: 3%;
}

.thumbnail h2 span {
  margin-right: 1%;
}

.thumbnail .br {
  display: none;
}

.thumbnail .items {
  margin-bottom: 40px;
}

.thumbnail .items .items-header {
  background: #fff;
  padding: 4%;
  min-height: 275px;
  border-bottom: 1px solid #ccc;
}

.thumbnail .items .items-header h4 {
  text-align: left;
  margin: 10px 0;
  padding-left: 0;
}

.thumbnail .items .items-header .event {
  color: #506ea6;
}

.thumbnail .items .items-header .blog {
  color: #f37520;
}

.thumbnail .items .items-header .news {
  color: #b5d6b1;
}

.thumbnail .items .items-header h3 {
  margin: 15px 0;
  font-size: 16px;
  line-height: 30px;
}

.thumbnail .items .items-header .new {
  padding: 3px;
  background: #d53a1e;
  color: #fff;
  font-size: 10px;
  border-radius: 3px;
}

.thumbnail .items .items-content .firstcharacter {
  float: left;
  font-weight: bold;
  padding-bottom: 2px;
}

.thumbnail .items .items-content .many-row {
  padding-bottom: 0;
}

.thumbnail .items .items-footer {
  padding: 0 5px;
}

.thumbnail .items .items-footer .time {
  padding: 10px 10px;
  margin: 10px 0;
  border-bottom: 1px dashed #ccc;
}

.thumbnail .items .items-footer .time .day {
  font-weight: bold;
}

.thumbnail .items .items-footer .time i {
  background: #aba2a2;
  padding: 5px;
  border-radius: 25px;
  color: #fff;
  font-size: 10px;
}

.thumbnail .items .items-footer img {
  float: right;
}

.thumbnail .items .items-footer p {
  color: #959595;
  font-size: 12px;
}

.thumbnail #view-more {
  margin: 30px auto;
  text-align: center;
  color: #d84c36;
  padding: 10px;
  width: 200px;
  border: 1px solid #d84c36;
}

.thumbnail #view-more a {
  color: #d53a1e;
  text-decoration: none;
}

.thumbnail #view-more a:hover {
  color: #d53a1e;
}

#info {
  margin-bottom: 40px;
}

#info .info-detail {
  margin: 5px;
  padding: 15px 0;
  border: 1px solid #d53a1e;
  background: url("../img/bg_info.jpg") 0 0 repeat-x;
}

#info .info-detail img {
  float: right;
  width: 70px;
}

#info .info-detail h3 {
  margin-bottom: -10px;
  color: #000;
  font-size: 21px;
}

#info .info-detail span {
  float: left;
  color: #d53a1e;
}

#content-tag {
  background: #dc5f48;
  padding: 40px 0;
  margin: 30px 0 0 0 0;
  width: 100%;
}

#content-tag h1 {
  color: #fff;
}

#content-tag hr {
  width: 6%;
  background: #fff;
  float: left;
}

#content-tag .img-mobile {
  display: none;
}

#content-tag .ct {
  margin: 20px 0;
}

#content-tag .ct ul li {
  float: left;
  padding: 10px 24px;
  border-right: 2px solid #dc5f48;
  background: #d53a1e;
  border-bottom: 1px solid #dc5f48;
  text-decoration: none !important;
}

#content-tag .ct ul li a {
  color: #fff;
  text-align: center;
}

#content-tag .ct ul li a:hover {
  color: #fff;
  text-decoration: none !important;
}

#content-tag img {
  margin: 16px 0;
}

/*------------------------------------------------------------
	side
------------------------------------------------------------*/
#sideBar {
  padding: 50px 0;
  width: 200px;
  background-color: #efefef;
  float: right;
}

/*------------------------------------------------------------
	footer
------------------------------------------------------------*/
footer {
  background: #fff;
  padding-top: 40px;
}

footer img {
  width: 15%;
  float: left;
  margin-right: 60px;
}

footer #mail {
  color: #d53a1e;
}

footer p {
  padding-bottom: 30px;
}

footer .br {
  display: none;
}

footer .footer {
  border-bottom: 1px solid #ccc;
  margin: 10px 0;
}

/*------------------------------------------------------------
	Headline
------------------------------------------------------------*/
/*------------------------------------------------------------
	Button
------------------------------------------------------------*/
