
// Can use id, If you use class Please adding prefix .l- 
/* BEM
    For example:
        Block .block
        Element .block__element
        Modifier .block--modifier
*/
/*------------------------------------------------------------
	Layout 
------------------------------------------------------------*/
body {
	min-width: 1140px;
	line-height: 1.5;
}

#container {
	width: 100%;
	min-width: 960px;
	position: relative;
	margin: 50px 0 0 0;
}
.l-wrapper{
	width: 960px;
	margin: 0 auto;
}

#btnBack {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 200px;
    z-index: 99;
	cursor: pointer;
	background: none;
}
/*------------------------------------------------------------
	header
------------------------------------------------------------*/
@import "header";

/*------------------------------------------------------------
	footer
------------------------------------------------------------*/

@import "footer";
