.c-title{
    @include e('main'){
        text-align: center;
        p{
            font-family: hannari-mincho, serif;
            font-size: 40px;
            margin-top: 5px;
            margin-bottom: 10px;
            &:first-child{
                margin-top: 0;
                padding: 10px 20px;
                border-radius: 50px;
                font-size: 20px;
                color: #fff;
                letter-spacing: 2px;
                position: relative;
                display: -webkit-inline-box;
                &:before{
                    position: absolute;
                    bottom: -17px;
                    left: 50%;
                }
            }
        }
    }
    @include m('greenO'){
        p{
            &:first-child{
                background-color: #6ea239;
                &:before{
                    content: url(../img/triangle-green_small.png);
                }
            }
            span{
                color: #f37b2b
            }
        }
    }
    @include m('orangeY'){
        p{
            &:first-child{
                background-color: #f37b2b;
                &:before{
                    content: url(../img/triangle-small.png);
                }
            }
            span{
                color: #ffff00
            }
        }
    }
    @include m('orangeB'){
        p{
            &:first-child{
                background-color: #f37b2b;
                &:before{
                    content: url(../img/triangle-small.png);
                }
            }
            span{
                color: #6ea239
            }
        }
    }
    &1{
        color: #003f30;
        font-size: 30px;
        font-family: hannari-mincho, serif;
    }
    &2{
        color: #fff;
        font-size: 30px;
        font-family: hannari-mincho, serif;
        text-align: center;
        span{
            color: #ffff00
        }
    }
}