@charset "UTF-8";
@import "vars";	// Variable
@import "functions"; // Function
/*------------------------------------------------------------
	Top page
------------------------------------------------------------*/
.sample {
	transform: scale(1);
	background-size: cover;
	-webkit-background-size: cover;
	display: flex;
}
